In [1]:
from pyspark.sql import *
from pyspark.sql.types import *

Starting Spark application

SparkSession available as 'spark'.
/usr/bin/anaconda/envs/py35/lib/python3.5/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')
/usr/bin/anaconda/envs/py35/lib/python3.5/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [25]:
spark_df = spark.read.csv('wasb:///inputData/worldometer_data.csv', header=True, inferSchema=True)

In [26]:
spark_df.describe()
spark_df.show()

+--------------+-------------+----------+----------+--------+-----------+---------+--------------+------------+-----------+----------------+----------------+-------------+----------+------------+--------------------+
|Country/Region|    Continent|Population|TotalCases|NewCases|TotalDeaths|NewDeaths|TotalRecovered|NewRecovered|ActiveCases|Serious,Critical|Tot Cases/1M pop|Deaths/1M pop|TotalTests|Tests/1M pop|          WHO Region|
+--------------+-------------+----------+----------+--------+-----------+---------+--------------+------------+-----------+----------------+----------------+-------------+----------+------------+--------------------+
|           USA|North America| 331198130|   5032179|    null|     162804|     null|       2576668|        null|    2292707|           18296|           15194|        492.0|  63139605|      190640|            Americas|
|        Brazil|South America| 212710692|   2917562|    null|      98644|     null|       2047660|        null|     771258|            8318|           13716|        464.0|  13206188|       62085|            Americas|
|         India|         Asia|1381344997|   2025409|    null|      41638|     null|       1377384|        null|     606387|            8944|            1466|         30.0|  22149351|       16035|      South-EastAsia|
|        Russia|       Europe| 145940924|    871894|    null|      14606|     null|        676357|        null|     180931|            2300|            5974|        100.0|  29716907|      203623|              Europe|
|  South Africa|       Africa|  59381566|    538184|    null|       9604|     null|        387316|        null|     141264|             539|            9063|        162.0|   3149807|       53044|              Africa|
|        Mexico|North America| 129066160|    462690|    6590|      50517|      819|        308848|        4140|     103325|            3987|            3585|        391.0|   1056915|        8189|            Americas|
|          Peru|South America|  33016319|    455409|    null|      20424|     null|        310337|        null|     124648|            1426|           13793|        619.0|   2493429|       75521|            Americas|
|         Chile|South America|  19132514|    366671|    null|       9889|     null|        340168|        null|      16614|            1358|           19165|        517.0|   1760615|       92022|            Americas|
|      Colombia|South America|  50936262|    357710|    null|      11939|     null|        192355|        null|     153416|            1493|            7023|        234.0|   1801835|       35374|            Americas|
|         Spain|       Europe|  46756648|    354530|    null|      28500|     null|          null|        null|       null|             617|            7582|        610.0|   7064329|      151087|              Europe|
|          Iran|         Asia|  84097623|    320117|    null|      17976|     null|        277463|        null|      24678|            4156|            3806|        214.0|   2612763|       31068|EasternMediterranean|
|            UK|       Europe|  67922029|    308134|    null|      46413|     null|          null|        null|       null|              73|            4537|        683.0|  17515234|      257873|              Europe|
|  Saudi Arabia|         Asia|  34865919|    284226|    null|       3055|     null|        247089|        null|      34082|            1915|            8152|         88.0|   3635705|      104277|EasternMediterranean|
|      Pakistan|         Asia| 221295851|    281863|    null|       6035|     null|        256058|        null|      19770|             809|            1274|         27.0|   2058872|        9304|EasternMediterranean|
|    Bangladesh|         Asia| 164851401|    249651|    null|       3306|     null|        143824|        null|     102521|            null|            1514|         20.0|   1225124|        7432|      South-EastAsia|
|         Italy|       Europe|  60452568|    249204|    null|      35187|     null|        201323|        null|      12694|              42|            4122|        582.0|   7099713|      117443|              Europe|
|        Turkey|         Asia|  84428331|    237265|    null|       5798|     null|        220546|        null|      10921|             580|            2810|         69.0|   5081802|       60191|              Europe|
|     Argentina|South America|  45236884|    228195|    null|       4251|     null|         99852|        null|     124092|            1150|            5044|         94.0|    794544|       17564|            Americas|
|       Germany|       Europe|  83811260|    215210|    null|       9252|     null|        196200|        null|       9758|             236|            2568|        110.0|   8586648|      102452|              Europe|
|        France|       Europe|  65288306|    195633|    null|      30312|     null|         82460|        null|      82861|             384|            2996|        464.0|   3992206|       61147|              Europe|
+--------------+-------------+----------+----------+--------+-----------+---------+--------------+------------+-----------+----------------+----------------+-------------+----------+------------+--------------------+
only showing top 20 rows

In [93]:
from pyspark.sql.functions import *
spark_df.select([count(when(col(c).isNull(), c)).alias(c) for c in spark_df.columns]).show()

+--------------+---------+----------+----------+--------+-----------+---------+--------------+------------+-----------+----------------+----------------+-------------+----------+------------+----------+
|Country/Region|Continent|Population|TotalCases|NewCases|TotalDeaths|NewDeaths|TotalRecovered|NewRecovered|ActiveCases|Serious,Critical|Tot Cases/1M pop|Deaths/1M pop|TotalTests|Tests/1M pop|WHO Region|
+--------------+---------+----------+----------+--------+-----------+---------+--------------+------------+-----------+----------------+----------------+-------------+----------+------------+----------+
|             0|        1|         1|         0|     205|         21|      206|             4|         206|          4|              87|               1|           22|        18|          18|        25|
+--------------+---------+----------+----------+--------+-----------+---------+--------------+------------+-----------+----------------+----------------+-------------+----------+------------+----------+

In [104]:
spark_newdf = spark_df.na.fill(0)

In [105]:
spark_newdf.select([count(when(col(c).isNull(), c)).alias(c) for c in spark_newdf.columns]).show()

+--------------+---------+----------+----------+--------+-----------+---------+--------------+------------+-----------+----------------+----------------+-------------+----------+------------+----------+
|Country/Region|Continent|Population|TotalCases|NewCases|TotalDeaths|NewDeaths|TotalRecovered|NewRecovered|ActiveCases|Serious,Critical|Tot Cases/1M pop|Deaths/1M pop|TotalTests|Tests/1M pop|WHO Region|
+--------------+---------+----------+----------+--------+-----------+---------+--------------+------------+-----------+----------------+----------------+-------------+----------+------------+----------+
|             0|        1|         0|         0|       0|          0|        0|             0|           0|          0|               0|               0|            0|         0|           0|        25|
+--------------+---------+----------+----------+--------+-----------+---------+--------------+------------+-----------+----------------+----------------+-------------+----------+------------+----------+

In [96]:
spark_newdf = spark_newdf.drop('NewCases', 'NewDeaths','NewRecovered','WHORegion','TotCases/1Mpop','Deaths/1Mpop','Tests/1Mpop','WHORegion')
spark_newdf.show()

+--------------+-------------+----------+----------+-----------+--------------+-----------+----------------+----------------+-------------+----------+------------+--------------------+
|Country/Region|    Continent|Population|TotalCases|TotalDeaths|TotalRecovered|ActiveCases|Serious,Critical|Tot Cases/1M pop|Deaths/1M pop|TotalTests|Tests/1M pop|          WHO Region|
+--------------+-------------+----------+----------+-----------+--------------+-----------+----------------+----------------+-------------+----------+------------+--------------------+
|           USA|North America| 331198130|   5032179|     162804|       2576668|    2292707|           18296|           15194|        492.0|  63139605|      190640|            Americas|
|        Brazil|South America| 212710692|   2917562|      98644|       2047660|     771258|            8318|           13716|        464.0|  13206188|       62085|            Americas|
|         India|         Asia|1381344997|   2025409|      41638|       1377384|     606387|            8944|            1466|         30.0|  22149351|       16035|      South-EastAsia|
|        Russia|       Europe| 145940924|    871894|      14606|        676357|     180931|            2300|            5974|        100.0|  29716907|      203623|              Europe|
|  South Africa|       Africa|  59381566|    538184|       9604|        387316|     141264|             539|            9063|        162.0|   3149807|       53044|              Africa|
|        Mexico|North America| 129066160|    462690|      50517|        308848|     103325|            3987|            3585|        391.0|   1056915|        8189|            Americas|
|          Peru|South America|  33016319|    455409|      20424|        310337|     124648|            1426|           13793|        619.0|   2493429|       75521|            Americas|
|         Chile|South America|  19132514|    366671|       9889|        340168|      16614|            1358|           19165|        517.0|   1760615|       92022|            Americas|
|      Colombia|South America|  50936262|    357710|      11939|        192355|     153416|            1493|            7023|        234.0|   1801835|       35374|            Americas|
|         Spain|       Europe|  46756648|    354530|      28500|             0|          0|             617|            7582|        610.0|   7064329|      151087|              Europe|
|          Iran|         Asia|  84097623|    320117|      17976|        277463|      24678|            4156|            3806|        214.0|   2612763|       31068|EasternMediterranean|
|            UK|       Europe|  67922029|    308134|      46413|             0|          0|              73|            4537|        683.0|  17515234|      257873|              Europe|
|  Saudi Arabia|         Asia|  34865919|    284226|       3055|        247089|      34082|            1915|            8152|         88.0|   3635705|      104277|EasternMediterranean|
|      Pakistan|         Asia| 221295851|    281863|       6035|        256058|      19770|             809|            1274|         27.0|   2058872|        9304|EasternMediterranean|
|    Bangladesh|         Asia| 164851401|    249651|       3306|        143824|     102521|               0|            1514|         20.0|   1225124|        7432|      South-EastAsia|
|         Italy|       Europe|  60452568|    249204|      35187|        201323|      12694|              42|            4122|        582.0|   7099713|      117443|              Europe|
|        Turkey|         Asia|  84428331|    237265|       5798|        220546|      10921|             580|            2810|         69.0|   5081802|       60191|              Europe|
|     Argentina|South America|  45236884|    228195|       4251|         99852|     124092|            1150|            5044|         94.0|    794544|       17564|            Americas|
|       Germany|       Europe|  83811260|    215210|       9252|        196200|       9758|             236|            2568|        110.0|   8586648|      102452|              Europe|
|        France|       Europe|  65288306|    195633|      30312|         82460|      82861|             384|            2996|        464.0|   3992206|       61147|              Europe|
+--------------+-------------+----------+----------+-----------+--------------+-----------+----------------+----------------+-------------+----------+------------+--------------------+
only showing top 20 rows

In [114]:
from functools import reduce
spark_finaldf = reduce(DataFrame.drop, ['NewCases', 'NewDeaths','NewRecovered','WHO Region',
                        'Tot Cases/1M pop','Deaths/1M pop','Tests/1M pop',
                        'WHORegion'], spark_newdf)
spark_finaldf.show()

+--------------+-------------+----------+----------+-----------+--------------+-----------+----------------+----------+
|Country/Region|    Continent|Population|TotalCases|TotalDeaths|TotalRecovered|ActiveCases|Serious,Critical|TotalTests|
+--------------+-------------+----------+----------+-----------+--------------+-----------+----------------+----------+
|           USA|North America| 331198130|   5032179|     162804|       2576668|    2292707|           18296|  63139605|
|        Brazil|South America| 212710692|   2917562|      98644|       2047660|     771258|            8318|  13206188|
|         India|         Asia|1381344997|   2025409|      41638|       1377384|     606387|            8944|  22149351|
|        Russia|       Europe| 145940924|    871894|      14606|        676357|     180931|            2300|  29716907|
|  South Africa|       Africa|  59381566|    538184|       9604|        387316|     141264|             539|   3149807|
|        Mexico|North America| 129066160|    462690|      50517|        308848|     103325|            3987|   1056915|
|          Peru|South America|  33016319|    455409|      20424|        310337|     124648|            1426|   2493429|
|         Chile|South America|  19132514|    366671|       9889|        340168|      16614|            1358|   1760615|
|      Colombia|South America|  50936262|    357710|      11939|        192355|     153416|            1493|   1801835|
|         Spain|       Europe|  46756648|    354530|      28500|             0|          0|             617|   7064329|
|          Iran|         Asia|  84097623|    320117|      17976|        277463|      24678|            4156|   2612763|
|            UK|       Europe|  67922029|    308134|      46413|             0|          0|              73|  17515234|
|  Saudi Arabia|         Asia|  34865919|    284226|       3055|        247089|      34082|            1915|   3635705|
|      Pakistan|         Asia| 221295851|    281863|       6035|        256058|      19770|             809|   2058872|
|    Bangladesh|         Asia| 164851401|    249651|       3306|        143824|     102521|               0|   1225124|
|         Italy|       Europe|  60452568|    249204|      35187|        201323|      12694|              42|   7099713|
|        Turkey|         Asia|  84428331|    237265|       5798|        220546|      10921|             580|   5081802|
|     Argentina|South America|  45236884|    228195|       4251|         99852|     124092|            1150|    794544|
|       Germany|       Europe|  83811260|    215210|       9252|        196200|       9758|             236|   8586648|
|        France|       Europe|  65288306|    195633|      30312|         82460|      82861|             384|   3992206|
+--------------+-------------+----------+----------+-----------+--------------+-----------+----------------+----------+
only showing top 20 rows

In [121]:
spark_finaldf = spark_finaldf.withColumnRenamed('Country/Region', 'Country')
spark_finaldf = spark_finaldf.withColumnRenamed('Serious,Critical', 'Critical')
spark_finaldf.show()

+------------+-------------+----------+----------+-----------+--------------+-----------+--------+----------+
|     Country|    Continent|Population|TotalCases|TotalDeaths|TotalRecovered|ActiveCases|Critical|TotalTests|
+------------+-------------+----------+----------+-----------+--------------+-----------+--------+----------+
|         USA|North America| 331198130|   5032179|     162804|       2576668|    2292707|   18296|  63139605|
|      Brazil|South America| 212710692|   2917562|      98644|       2047660|     771258|    8318|  13206188|
|       India|         Asia|1381344997|   2025409|      41638|       1377384|     606387|    8944|  22149351|
|      Russia|       Europe| 145940924|    871894|      14606|        676357|     180931|    2300|  29716907|
|South Africa|       Africa|  59381566|    538184|       9604|        387316|     141264|     539|   3149807|
|      Mexico|North America| 129066160|    462690|      50517|        308848|     103325|    3987|   1056915|
|        Peru|South America|  33016319|    455409|      20424|        310337|     124648|    1426|   2493429|
|       Chile|South America|  19132514|    366671|       9889|        340168|      16614|    1358|   1760615|
|    Colombia|South America|  50936262|    357710|      11939|        192355|     153416|    1493|   1801835|
|       Spain|       Europe|  46756648|    354530|      28500|             0|          0|     617|   7064329|
|        Iran|         Asia|  84097623|    320117|      17976|        277463|      24678|    4156|   2612763|
|          UK|       Europe|  67922029|    308134|      46413|             0|          0|      73|  17515234|
|Saudi Arabia|         Asia|  34865919|    284226|       3055|        247089|      34082|    1915|   3635705|
|    Pakistan|         Asia| 221295851|    281863|       6035|        256058|      19770|     809|   2058872|
|  Bangladesh|         Asia| 164851401|    249651|       3306|        143824|     102521|       0|   1225124|
|       Italy|       Europe|  60452568|    249204|      35187|        201323|      12694|      42|   7099713|
|      Turkey|         Asia|  84428331|    237265|       5798|        220546|      10921|     580|   5081802|
|   Argentina|South America|  45236884|    228195|       4251|         99852|     124092|    1150|    794544|
|     Germany|       Europe|  83811260|    215210|       9252|        196200|       9758|     236|   8586648|
|      France|       Europe|  65288306|    195633|      30312|         82460|      82861|     384|   3992206|
+------------+-------------+----------+----------+-----------+--------------+-----------+--------+----------+
only showing top 20 rows

In [122]:
spark_finaldf.show()

+------------+-------------+----------+----------+-----------+--------------+-----------+--------+----------+
|     Country|    Continent|Population|TotalCases|TotalDeaths|TotalRecovered|ActiveCases|Critical|TotalTests|
+------------+-------------+----------+----------+-----------+--------------+-----------+--------+----------+
|         USA|North America| 331198130|   5032179|     162804|       2576668|    2292707|   18296|  63139605|
|      Brazil|South America| 212710692|   2917562|      98644|       2047660|     771258|    8318|  13206188|
|       India|         Asia|1381344997|   2025409|      41638|       1377384|     606387|    8944|  22149351|
|      Russia|       Europe| 145940924|    871894|      14606|        676357|     180931|    2300|  29716907|
|South Africa|       Africa|  59381566|    538184|       9604|        387316|     141264|     539|   3149807|
|      Mexico|North America| 129066160|    462690|      50517|        308848|     103325|    3987|   1056915|
|        Peru|South America|  33016319|    455409|      20424|        310337|     124648|    1426|   2493429|
|       Chile|South America|  19132514|    366671|       9889|        340168|      16614|    1358|   1760615|
|    Colombia|South America|  50936262|    357710|      11939|        192355|     153416|    1493|   1801835|
|       Spain|       Europe|  46756648|    354530|      28500|             0|          0|     617|   7064329|
|        Iran|         Asia|  84097623|    320117|      17976|        277463|      24678|    4156|   2612763|
|          UK|       Europe|  67922029|    308134|      46413|             0|          0|      73|  17515234|
|Saudi Arabia|         Asia|  34865919|    284226|       3055|        247089|      34082|    1915|   3635705|
|    Pakistan|         Asia| 221295851|    281863|       6035|        256058|      19770|     809|   2058872|
|  Bangladesh|         Asia| 164851401|    249651|       3306|        143824|     102521|       0|   1225124|
|       Italy|       Europe|  60452568|    249204|      35187|        201323|      12694|      42|   7099713|
|      Turkey|         Asia|  84428331|    237265|       5798|        220546|      10921|     580|   5081802|
|   Argentina|South America|  45236884|    228195|       4251|         99852|     124092|    1150|    794544|
|     Germany|       Europe|  83811260|    215210|       9252|        196200|       9758|     236|   8586648|
|      France|       Europe|  65288306|    195633|      30312|         82460|      82861|     384|   3992206|
+------------+-------------+----------+----------+-----------+--------------+-----------+--------+----------+
only showing top 20 rows

In [123]:
spark_finaldf.write.saveAsTable("hvac1")

In [126]:
spark_finaldf.write.csv('wasb:///inputData/preprocessed/worldometer_data_final.csv')